<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="YoungMusicFan" class="platform-ios platform-cordova platform-webview">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Young Music Fan</h1>
      </ion-header-bar>
      <ion-content class="padding" ng-controller="RadioCtrl">
        <h5>Metro 95.1 - Buenos Aires</h5>
        <button class="button button-block button-balanced"
                ng-if="!state.play"
                ng-click="play()">
          Play
        </button>
        <button class="button button-block button-assertive"
                ng-if="state.play"
                ng-click="stop()">
          Stop
        </button>
        <button class="button button-block button-positive"
                ng-if="state.play && !state.pause"
                ng-click="pause()">
          Pause
        </button>
        <button class="button button-block button-positive"
                ng-if="state.play && state.pause"
                ng-click="resume()">
          Resume
        </button>
      </ion-content>
    </ion-pane>
  </body>
</html>
